div {
    height: 100%;
    box-sizing: border-box;
    display:grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: repeat(6, 1fr);
}

header{
    grid-column: span 6;
    margin-top: 10px;
}

main {
    grid-column: span 5;
    overflow: auto;
}

div, div > * {
    border: 1px solid;
}