
<div class="btn-group" role="group" aria-label="Basic example">

    <!-- <a routerLink="/home" routerLinkActive="active" >Home</a> || -->
    <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn btn-outline-primary"> All Products</a>
    <a routerLink="/products/new" routerLinkActive="active"  class="btn btn-outline-primary">Add Product</a>
    <a routerLink="/about" routerLinkActive="active" class="btn btn-outline-primary"> About </a>

</div>
