<div class="card-container">
    <img class="border-0" src="{{item.productId.image}}" /> <br/>
    name:<span style="font-size: 12px;">{{item.productId.name}} <br/></span>
    <div style="text-align: left;">
      qty:{{item.qty}}<input type="number" [(ngModel)]="item.qty"(ngModelChange)="onQuantityChange()" /><br/>
      price: {{item.productId.price}} <br/>
      total price:{{item.total_price | currency:"ILS" }}
    </div>
    <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete from cart" (click)="deleteItem()" >🗑</button><br/>
</div>

