<!-- <p>login works!</p> -->
<button class="back btn btn-primary" (click)="backToHome()" style="width: max-content;">Back to home page </button>

<div class="box">
<form [formGroup]="myForm" (ngSubmit)="send()" >

  <div class="form-group">
    <label>Email:</label>
    <input  class="form-control" formControlName="email" type="text" />
    <!-- validation -->
    <div *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)" class="text-danger">
      <div *ngIf="myForm.controls.email.hasError('required')">Email is required.</div>
      <div *ngIf="myForm.get('email').invalid">Invalid email.</div>
    </div>

    <label>Password:</label>
    <input class="form-control" type="password" formControlName="password"  />
    <!-- validation -->
    <div *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)" class="text-danger">
      <div *ngIf="myForm.controls.password.hasError('required')">Password is required.</div>
      <div *ngIf="myForm.get('email').invalid">Invalid password.</div>
      <div *ngIf="myForm.get('password').value.length">Password must be at least 8 characters.</div>
    </div>

    <button class="btn btn-primary" >Login</button>
    or register <a routerLink="/register" >here</a>
    </div>
</form>

</div>
