img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 10px;
}

.card-container{

  float:left;
  padding: 15px;
  margin: 20px;
  /* width: 300px;
  height: 650px; */
  width: 150px;
  height:200px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in-out;
}
.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
}
.card-container  img {
    overflow: hidden;
    width: 100%;
  }
  button:disabled {
    background: rgb(245, 123, 17) !important;
  }
  button {
    font-family: Arial;
    /* border-color: #428bca; */
    /* background-color: rgb(245, 123, 17); */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }


@media screen and (max-width: 830px) {
  .card {
    padding: 1%;
    display: inline-block;
  }
}


.card-container p{
  font-weight: bold;
}
.card-container span{
  font-size: large;
}
