div {
  height: 100%;
  box-sizing: border-box;
  display:grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: repeat(6, 1fr);
}

header{
  grid-column: span 6;
}

main {
  grid-column: span 5;
  /* overflow: auto; */
  height: 50%;
}

div, div > * {
  border: 1px solid;
}
body {
  border: none !important;
  margin: 0px !important;
  padding: 0 !important;
}
