<mat-toolbar >
  <mat-toolbar-row>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle class="nav-link active" (click)="sortByCategory('all')">All</mat-button-toggle>
      <mat-button-toggle class="nav-link active" *ngFor="let c of categories" (click)="sortByCategory(c._id)" mat-button color="primary">{{c.name}}</mat-button-toggle>
    </mat-button-toggle-group>
    <form class="d-flex input-group w-auto" style="position: absolute; right: 0;margin-right: 25px;" id="search-form">
      <input
        type="search"
        class="form-control"
        placeholder="search for item"
        aria-label="Search"
        style="width: 150px;height: 35px;margin-top: 20px;"
        #myInput
      />
      <button class="btn btn-outline-primary" type="button" style="width: 70px;height: 35px;margin-top:20px;" (click)="searchItem(myInput.value)">
        Search
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>

<div class="scroll">
  <app-product-card-user *ngFor="let p of temp" [product]="p"  (addItem)="addToCart(p)"></app-product-card-user>
  <div *ngIf="!isExist">"Item doesn't exist"</div>

</div>
