<!-- <p>product-list works!</p> -->
<mat-toolbar style="position:sticky;">
  <mat-toolbar-row>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" >
      <mat-button-toggle class="nav-link active" [style.width]="buttonWidth" (click)="sortByCategory('all')" style="font-size: 17px;">All</mat-button-toggle>
      <mat-button-toggle class="nav-link active" [style.width]="buttonWidth" *ngFor="let c of categories" (click)="sortByCategory(c._id)" style="font-size: 17px;" mat-button color="primary">{{c.name}}</mat-button-toggle>
    </mat-button-toggle-group>
    <form class=" input-group w-auto" style="position: absolute; right: 0;margin-right: 25px;" id="search-form" >
      <input
        type="search"
        class="form-control"
        placeholder="search for item"
        aria-label="Search"
        style="width: 150px;height: 35px;margin-top: 20px;"
        #myInput
      />
      <button class="btn btn-outline-primary" [style.width]="buttonWidth" type="button" style="width: 70px;height: 35px;margin-top:20px;" (click)="searchItem(myInput.value)">
        Search
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>

<div class="scroll">
  <button class="back btn btn-primary" (click)="backToMenu()" style="width: max-content;">Back to Menu</button>
  <app-product-card *ngFor="let p of temp" [product]="p" (deleteMe)="deleteProduct(p._id)" ></app-product-card>

</div>
